
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightblue;
    padding: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    /* justify-content: center;Centraliza horizontalmente o que está dentro */
}
h1{
    text-align: center; /*Centraliza a própria tag*/
    font-family: "arial";
    font-size: 28pt;
    color: darkblue;
}
main{
    margin: 100px auto 150px auto;
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divProduto{
    width: 46%;
    background-color: white;
    box-shadow: 5px 5px 10px silver;
    margin: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.divProduto .imgProduto{
    width: 100%;
    height: auto;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.divMiniatura {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divMiniatura .imgMiniatura{
    width: 100px;
    height: 60px;
    margin: 5px;
}
.divCard{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    left: 0;
    height: 0vh;
    width: 100vw;
    z-index: 10000;
    transition: ease 0.5s;
}
.fechar{
    position: absolute;
    text-align: -10;
    right: 10px;
    bottom: 0px;
    color: aliceblue;
    font-weight: bold;
    z-index: 10100;
    background-color: black;

}
