html{
    scroll-behavior: smooth; /*Desliza*/
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    padding: 50px 10px 0px 20px; /* sequência do relógio top, direita, embaixo, esquerda*/
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0px;
    left: -200px;
    transition: ease 1s;
}
nav ul{
    list-style: none;/*Retira os marcadores*/
}
nav ul li{
    margin-bottom: 10px;
    padding: 5px;
}
nav ul li a{
    font-family: arial;
    font-size: 15pt;
    color: rgb(255, 255, 255);
    text-decoration: none; /*Retira o sublinhado*/
}
nav ul li:hover{ /*Cria uma "sombra" quando passar o mouse*/
    background-color: rgba(200,200,200,0.3)
}
#af{
    color: white; /*Cor da letra*/
    background-color: red;
    padding: 10px;
    text-decoration: none;
    font-size: 15pt;
    position: absolute;
    left: 200px;
    top: 0px;
}
section{
    margin: 100px 50px;
    text-align: justify;
    line-height: 20px;
}
#conteudo{
    opacity: 0;
    transition: ease 1s;

}
#carregando{
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 5%;
    background-color:white;
    opacity: 1;
    transition: ease 0.5s;
    top: 0px;
    left: 0px;
}